[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
bcrypt = "==4.0.1"
psycopg2-binary = "==2.9.9"
flask-mail = "==0.9.1"
python-dateutil = "==2.8.2"
pillow = "==10.0.1"
werkzeug = "==2.3.7"
pymysql = "*"
flask-bcrypt = "*"
pytz = "*"

[dev-packages]
pytest = "==7.4.2"
pytest-flask = "==1.2.0"
black = "==23.9.1"
flake8 = "==6.1.0"

[requires]
python_version = "3.11"
